* {
    padding: 0;
    margin: 0;
} 
html {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(90deg, #fff, #49e6dd);
    font-family: 'Rubik', sans-serif;
}
a {
    text-decoration: none;
}
/*ANIMAÇÕES -------------------------*/

@keyframes menu {
    50%{transform: rotate(30deg)};
    100%{transform: rotate(70deg);}
}

@keyframes arrow {
    0% {margin-top: 0;}
    100% {margin-top: 10px}
}

/*HEADER ----------------------------*/

header {
    top:0;
    width: 100%;
    height: 60px;
    background-color: #e6a63f;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header a {
    display: inline-block;
    background-color: transparent;
    box-shadow: 0 0 5px rgb(139, 121, 86);
    padding: 0.7rem;
    color: #424139;
    font-weight: bold;
    margin: 0 15px;

}
header a:hover {
    transition: all ease 0.9s;
}
/*MENU -------------------------------*/
aside {
    display: flex;
    top: 0;
    right: -40vw;
    position: fixed;
    z-index: 999;
    transition: all ease 0.5s;
    display: none;
}
aside .menuopener {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 1rem;
    margin-top: 0.7rem;

    animation-name: menu;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-iteration-count: initial;
}
aside .trace {
    background-color: rgb(0, 0, 0);
    height: 8px;
}
aside .menu {
    height: 100vh;
    width: 40vw;
    border-radius: 15px 0 0 15px;
    background-color: rgb(136, 172, 157);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
aside .menu a {
    display: block;
    color: #000;
    font-weight: bold;
    margin: 1rem 0;
}
body .shadow {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.700);

    position: fixed;
    z-index: 50;
    display: none;
 }
/*BANNER -----------------------------*/

main .banner {
    display: flex;
    height: calc(100vh - 60px);
}
main .banner .left-side {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #fff1c6;
}
main .banner .right-side {
    flex: 1;
    background-image: url("../img/img9.png");
    background-position: center;
    background-size: cover;
}
.left-side .profession {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.left-side .name {
    font-size: 75px;
    font-weight: bold;
    margin: 20px 0 40px 0;
}
.left-side .buttons a {
    display: inline-block;
    padding: 20px 40px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #384450;
    margin: 0 10px 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #536d6d;
}
.left-side .buttons a.light {
    background-color: #50b9b4;
    color: #000;
}
.left-side .buttons a:hover {
    opacity: 0.7;
}
/*SOBRE -----------------------------*/

main .sobre {
    background-color: #e6a53f;
    width: 100%;
    padding: 4rem 0;
}
main .cont {
    width: 75%;
    margin: auto;
}
main .sobre .cont h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 2rem;
}
main .sobre .cont p {
    text-align: justify;
}

/*TECNO -----------------------------*/
main .tecno {
    padding: 4rem 0;
}
main .sub {
    font-size: 40px;
    text-transform: uppercase;
}
main .grupo { 
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
main .grupo .uni {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 5px 9px #1d504d;


    height: auto;
    padding: 1rem;
    margin: 0 1.7rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .grupo .uni:hover {
    transition: all ease 0.5s;
    transform: scale(1.1);
}
main .grupo .uni i {
    font-size: 50px;
    color: #e6a53f;
    margin-bottom: 0.5rem;
}
main .grupo .uni p {
    margin-top: 1rem;
}
main .projetos .uni h3 {
    margin-top: 1rem;
    color: #000;
}


/*PROJETOS ------------------------------*/

main .grupo .projeto h3
{
    align-self: center;
}

/*CONTATO -------------------------------*/

footer .contatos
{
    background-color: grey;
    width: 100%;
    height: 200px;

    border-top: 2px solid #000 ;
    margin-top:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .contatos .redes
{
    display: flex;
    flex-direction: row;
    color:#fff;
}
footer .contatos .redes .rede
{
    text-decoration: none;
    font-size: 20px;
    color: rgb(54, 43, 21);
    margin: 0 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
footer .contatos .redes .rede i
{
    font-size: 30px;
    color: rgb(248, 171, 28);
    margin-right: 0.5rem;
}

/*RESPONSIVE ----------------------------*/

@media (max-width: 950px)
{
    main .grupo
    {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }
    main .grupo .uni
    {
        width: auto;
    }
    footer .contatos .redes
    {
        flex-direction: column;
    }
    footer .contatos .redes .rede
    {
    
        font-size: 16px;
        margin: 0.3rem 1rem;
        padding: 0.5rem;
        
    }
}

@media (max-width:600px)
{
    body
    {
        font-size: 20px;
    }
    header h2
    {
        text-align: center;
    }
    header nav
    {
        display: none;
    }
    main aside
    {
        display: flex;
    }
    main .banner {
        flex-direction: column;
    }
    main .banner .left-side {
        flex: 1;
        text-align: center;
        padding: 10px 20px;
    }
    main .banner .right-side {
        flex: 2;
    }
    .left-side .name {
        font-size: 50px;
        margin: 10px 0 15px 0;
    }
    .left-side .buttons {
        display: flex; 
    }
    .left-side .buttons a {
        font-size: 14px;
    }
    main .grupo
    {
        display: flex;
        flex-direction: column;
    }
    main .grupo .uni
    {
        width: auto;
        height: auto;
        margin: 0;
        margin-bottom: 1rem;
    }
    main .grupo .uni:hover
    {
        transition: 0.5s;
        transform: scale(1.1);
    }

}
@media (max-width:400px) {
    .left-side .buttons {
        display: flex; 
        flex-direction: column;
    }
    .left-side .buttons a {
        font-size: 14px;
    }
}